body {
    background-color: rgb(255, 220, 226);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    background-image: url("");
    background-repeat: no-repeat;


}
h1 {
    text-align: center;
    font-size: x-large;
    color: rgb(182, 255, 127)
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:backdrop;
    padding: 0ch;
    


}
h1:hover{
    color: aquamarine;
     background-color: aqua;
}

.container
{|
    font:
}